body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  margin: 0px;
}

#main-header {
  margin: 0px;
  display: flex;
  background-color: #071952;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-left: 20px;
}

#menu-navigation {
  display: flex;
  margin-right: 10vw;
}

#menu-navigation > li {
  margin: 10px;
  padding: 10px;
}

li {
  list-style: none;
}

li > a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

figure {
  margin: 0;
  position: relative;
  display: inline-block;
}

#hero-image {
  width: 100%;
  height: 750px;
  object-fit: cover;
  object-position: top;
}

.hero-text {
  position: absolute;
  bottom: 2vh;
  left: 1vw;
  color: white;
  font-size: 3.5vw;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: small;
}

figcaption > a {
  font-size: small;
  color: black;
}

h1 {
  font-family: "Poppins", sans-serif;
  margin: 30px;
}

h2 {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 15px 0 0 0;
}

h3 {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 5px 0;
}

h4 {
  margin: 30px;
}

h5 {
  margin: 0;
}

#main-content {
  display: grid;
  margin: 20px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

article {
  margin: 20px 10px;
  box-shadow: 0 4px 8px 0 lightgray;
  border-radius: 3%;
  padding: 15px;
  transition: transform 0.2s;
}
figure {
  width: 100%;
}

article > figure > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
  object-position: top;
}

article:hover {
  transform: scale(1.05);
}

#experience-div {
  background-color: #088395;
  padding: 30px 0;
}

#experience-div > h1 {
  color: white;
}

#experience-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px;
}

.main-images {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.main-images img {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  transform: translateY(100px);
  transition: transform 0.2s;
}

.main-images:nth-child(1) {
  animation-delay: 0s;
}
.main-images:nth-child(2) {
  animation-delay: 0.5s;
}
.main-images:nth-child(3) {
  animation-delay: 1s;
}
.main-images:nth-child(4) {
  animation-delay: 1.5s;
}
.main-images:nth-child(5) {
  animation-delay: 2s;
}
.main-images:nth-child(6) {
  animation-delay: 2.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-images:hover {
  transform: scale(1.05);
}

.image-text {
  font-family: "Poppins", sans-serif;
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px 3px #3d3d3d;
}

#key-events {
  width: 100%;
  position: relative;
  overflow: hidden;
}

#key-events > h1 {
  margin: 50px 30px 10px 30px;
}

#event-dates {
  display: flex;
}

aside {
  margin: 30px;
}

select > option {
  font-family: "Lato", sans-serif;
  font-size: medium;
}

#event-dates {
  overflow: hidden;
}

footer {
  color: white;
  background-color: #071952;
  padding: 10px;
  text-align: center;
}

input[type="email"],
input[type="submit"] {
  height: 30px;
  padding: 0;
  margin: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  font-family: "Lato", sans-serif;
  font-size: medium;
}

input[type="email"] {
  width: 200px;
}

input[type="submit"] {
  width: 100px;
  font-weight: 600;
  color: black;
}

#footer-section {
  display: flex;
  justify-content: space-around;
}

#footer-section > nav {
  margin: 10px;
}

#footer-section nav li {
  margin: 10px;
  padding: 0px 5px;
}

#footer-section > div {
  margin: 20px;
}

#footer-section h5 {
  margin: 0 0 10px 0;
  font-weight: 400;
}

#copyright {
  font-size: small;
}
